<div id="toast-{{ tags }}"
     class="fixed top-8 right-8 max-w-[300px] min-w-[200px] z-50 flex items-center p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
     role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg {% if tags == 'success' %}text-green-500 bg-green-600 dark:bg-green-800 dark:text-green-200{% elif tags == 'warning' %}text-amber-500 bg-amber-600 dark:bg-amber-700 dark:text-amber-200{% elif tags == 'error' %}text-red-500 bg-red-600 dark:bg-red-800 dark:text-red-200{% elif tags == 'info' %}text-blue-500 bg-blue-600 dark:bg-blue-800 dark:text-blue-200{% endif %}">
        {% if tags == 'success' %}
            <i class="fa-solid fa-circle-check text-white"></i>
        {% elif tags == 'warning' %}
            <i class="fa-solid fa-circle-exclamation text-white"></i>
        {% elif tags == 'error' %}
            <i class="fa-solid fa-circle-xmark text-white"></i>
        {% elif tags == 'info' %}
            <i class="fa-solid fa-circle-info text-white"></i>
        {% endif %}
    </div>
    <div class="ml-3 text-sm font-normal">{{ message }}</div>
    <button type="button"
            class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
            data-dismiss-target="#toast-{{ tags }}" aria-label="Close">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>