{% if model.has_other_pages or alwaysShow != None %}
<nav aria-label="Page navigation example">
    <ul class="inline-flex -space-x-px text-base h-10">
        {% if model.has_previous %}
        <li>
            <a href="?page={{ model.previous_page_number }}"
                class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Précédent
            </a>
        </li>
        {% else %}
        <li>
            <button disabled
                class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-600 bg-gray-200 border border-gray-300 rounded-l-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Précédent
            </button>
        </li>
        {% endif %}
        {% for i in model.paginator.page_range %}
        {% if model.number == i %}
        <li>
            <a aria-current="page"
                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                {{ i }}
            </a>
        </li>
        {% else %}
        <li>
            <a href="?page={{ i }}"
                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                {{ i }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
        {% if model.has_next %}
        <li>
            <a href="?page={{ model.next_page_number }}"
                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Suivant
            </a>
        </li>
        {% else %}
        <li>
            <button disabled
                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-600 bg-gray-200 border border-gray-300 rounded-r-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Suivant
            </button>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}