{% extends 'base/base_site.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1 class="text-center text-xl py-5">Liste des anniversaires</h1>

    <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Prochains anniversaires</h5>
       </div>
       <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                {% for next_person in next_persons %}
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0 ms-4">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    {{ next_person.get_full_name }}
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    {{ next_person.get_teams }}
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{ next_person.birthdate }}({{ next_person.get_age }} ans)
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
       </div>
    </div>

    <form method="get" class="flex gap-5 items-end flex-wrap mb-3 mx-10">
        <div class="w-full grow basis-52">
            {{ filter.form.text.label }}
            {{ filter.form.text }}
        </div>
        <div class="w-full grow basis-52 flex gap-3">
            <button type="submit"
                    class="px-2 py-3 w-full text-green-700 hover:text-white border border-green-700 hover:bg-green-800 font-medium rounded-lg text-sm text-center dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600">
                Filtrer
            </button>
            <a href="{% url 'home' %}"
               class="w-full flex justify-center items-center text-red-700 hover:text-white border border-red-700 hover:bg-red-800 font-medium rounded-lg text-sm text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600">
                Effacer
            </a>
        </div>
    </form>
    <div class="relative overflow-x-auto px-5">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Prénom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Surnom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date d'anniversaire
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Groupe
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{ person.first_name }}
                        </th>
                        <td class="px-6 py-4">
                            {{ person.last_name }}
                        </td>
                        <td class="px-6 py-4">
                            {{ person.surname|default:'-' }}
                        </td>
                        <td class="px-6 py-4">
                            {{ person.birthdate }}
                        </td>
                        <td class="px-6 py-4">
                            {{ person.get_teams }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <section class="flex justify-center mt-5 mb-3">
        {% include 'base/components/paginator.html' with model=persons alwaysShow=True %}
    </section>
{% endblock %}